@keyframes spin {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(200px, 300px) rotate(30deg);
    }

    50% {
        transform: translate(400px, 100px) rotate(-30deg);
    }

    75% {
        transform: translate(100px, 500px) rotate(50deg);
    }

    100% {
        transform: translate(-100px, 200px) rotate(-50deg);
    }
}

@keyframes starwars {
    0% {
        transform: translateY(100vh) rotateX(40deg);
        opacity: 1;
    }

    100% {
        transform: translateY(0vh) rotateX(40deg) scale(0, 0);
        opacity: 0;
    }
}