html {
    overflow-y: scroll;
}

h1 {
    text-align: center;
    padding: 10px;
}

td {
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border-left: 0;
    border-right: 0;

}

th {
    border: 0;
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
}

table {
    border: 0;
    padding: 2%;
}

body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/72/Campus_svall.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
    font-size: 18px;
}

#center {
    text-align: center;
}

input {
    padding: 10px;
    border: 1 solid black;
    margin-bottom: 10px;
    width: 30%;
}

@media (max-width: 768px) {
    body {
        max-width: 100%;
    }

    table {
        table-layout: fixed;
    }

    td {
        font-size: 14px;
    }

    th {}

    a {
        font-size: 14px;
    }
}