@use 'sass:color';
@use "./colors";

body {
    background-color: color.adjust(colors.$primaryCdark, $lightness: -10%);
    margin: 0;

    #main {
        background-color: colors.$primaryCdark;
        color: colors.$textPrimaryCdark;
        margin: 0 20%;
    }
}

button {
    background-color: transparent;
    border: 0;
}


th {
    background-color: colors.$secondaryCdark;

    button {
        background-color: white;
    }
}

td {
    background-color: color.scale(colors.$primaryCdark, $saturation: 100%);

}

#center {
    text-align: center;
}

h1 {
    @extend #center;
    color: colors.$secondaryC;
}


a {
    color: colors.$textPrimaryCdark;
}

header {

    background-color: colors.$secondaryCdark;

    #menu {
        text-align: center;
        display: flex;
    }

    a {
        font-size: 20px;
        text-decoration: none;
        padding: 10px;
        margin: 0 auto;
    }

    #mobile {
        display: none;
    }


}

input {
    border: 0;
    padding: 10px;
    background: black;
    color: white;
}

#eval {
    padding: 8px;
}


a:hover {
    background-color: color.adjust(colors.$secondaryCdark, $lightness: -10%);
}

@mixin img($size, $radius: 0, $toggle) {
    width: $size;
    height: $size;
    border-radius: $radius;

    @if $toggle {
        &:hover {
            transform: scale(1.25);
            transition: transform 0.15s ease;
        }
    }
}

img {
    @include img(49.5%, $radius: 10%, $toggle: false);
}

.modetoggle {
    @include img(100%, $toggle: true);
    cursor: pointer;
}

#mode {
    position: absolute;
    right: 0;
    width: 50px;
}

@media (max-width: 699px) {
    body {
        font-size: 14px;

        #main {
            margin: 0;
        }

    }

    header {

        padding: 10px;

        #menu {
            display: none;
        }

        #mobile {
            display: inline;

        }


    }

}