@use 'sass:color';
$primaryC: rgb(12, 12, 12);
$secondaryC: rgb(38, 21, 21);
$textPrimaryC: color.scale($primaryC, $lightness: +80%);

body {
    background-color: color.adjust($primaryC, $lightness: -10%);
    margin: 0;

    #main {
        background-color: $primaryC;
        color: $textPrimaryC;
        margin: 0 20%;
    }
}

button {
    background-color: transparent;
    border: 0;
}

h1 {
    text-align: center;
}

th {
    background-color: $secondaryC;

    button {
        background-color: white;
    }
}

td {
    background-color: color.scale($primaryC, $saturation: 100%);

}

#center {
    text-align: center;
}

a {
    color: $textPrimaryC;
}

header {

    background-color: $secondaryC;

    #menu {
        text-align: center;
        display: flex;
    }

    a {
        font-size: 20px;
        text-decoration: none;
        padding: 10px;
        margin: 0 auto;
    }

    #mobile {
        display: none;
    }


}

a:hover {
    background-color: color.adjust($secondaryC, $lightness: -10%);
}

img {
    width: 100%;
}

#mode {
    position: absolute;
    right: 0;
    width: 50px;
}

@media (max-width: 699px) {
    body {
        font-size: 14px;

        #main {
            margin: 0;
        }

    }

    header {

        padding: 10px;

        #menu {
            display: none;
        }

        #mobile {
            display: inline;

        }


    }

}