@use 'sass:color';
$primaryC: rgb(249, 249, 249);
$secondaryC: rgb(255, 141, 141);
$textPrimaryC: color.scale($primaryC, $lightness: -90%);

body {
    background-color: $primaryC;
    color: $textPrimaryC;
    margin: 0 50px;
}

th {
    background-color: $secondaryC;

    button {
        background-color: white;
    }
}

td {
    background-color: color.scale($primaryC, $saturation: 100%);
}

a {
    color: $textPrimaryC;
}

header {
    text-align: center;

    background-color: $secondaryC;

    display: flex;

    a {
        font-size: 20px;
        text-decoration: none;
        padding: 10px;
        margin: 0 auto;
    }


}

a:hover {
    background-color: color.adjust($secondaryC, $lightness: -10%);
}